<section>
  <div class="row row-cols-2 gx-5 justify-content-between align-items-start">
    <!-- Left column: Summary -->
    <div class="col col-0 col-xl-3 sticky-top d-none d-xl-block">
      <ul>
        <li>
          <span>01</span>
          Preferences
        </li>
        <hr />
        <li>
          <span>02</span>
          Bean Type
        </li>
        <hr />
        <li>
          <span>03</span>
          Quantity
        </li>
        <hr />
        <li>
          <span>04</span>
          Grind Option
        </li>
        <hr />
        <li>
          <span>05</span>
          Deliveries
        </li>
      </ul>
    </div>
    <!-- Right column -->
    <div class="col col-12 col-xl-8">
      <div class="row justify-content-center">
        <div *ngFor="let coffee of coffees; index as i">
          <h3 class="mb-5">{{ coffee.title }}</h3>
          <div class="row row-cols-1 row-cols-md-3 mb-8 gap-4 gap-md-0">
            <div class="col" *ngFor="let option of coffees[0].options">
              <div
                class="card px-3 py-3 pb-5"
                [ngClass]="{
                  'selected-card': true
                }"
                (click)="selectOption(option._id)"
              >
                <h6 class="mb-3">{{ option.name }}</h6>
                {{ option.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary">Create your plan</a>
    </div>
  </div>
</section>
