<section>
  <div class="row row-cols-2 gx-5 justify-content-between align-items-start">
    <!-- Left column: Summary -->
    <div class="col col-0 col-xl-3 sticky-top d-none d-xl-block">
      <ul>
        <li>
          <span>01</span>
          Preferences
        </li>
        <hr />
        <li>
          <span>02</span>
          Bean Type
        </li>
        <hr />
        <li>
          <span>03</span>
          Quantity
        </li>
        <hr />
        <li>
          <span>04</span>
          Grind Option
        </li>
        <hr />
        <li>
          <span>05</span>
          Deliveries
        </li>
      </ul>
    </div>
    <!-- Right column -->
    <div class="col col-12 col-xl-8">
      <div class="row justify-content-center">
        <h3 class="mb-5">How do you drink your coffee?</h3>
        <div class="row row-cols-1 row-cols-md-3 mb-8 gap-4 gap-md-0">
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isCapsule }"
              (click)="selectCapsule()"
            >
              <h6 class="mb-3">Capsule</h6>
              <p>Compatible with Nespresso systems and similar brewers</p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isFilter }"
              (click)="selectFilter()"
            >
              <h6>Filter</h6>
              <p>
                For pour over or drip methods like Aereopress, Chemex and V60
              </p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isEspresso }"
              (click)="selectEspresso()"
            >
              <h6>Espresso</h6>
              <p>
                Dense and finely ground beans for an intense, flavorful
                experience
              </p>
            </div>
          </div>
        </div>

        <h3 class="mb-5">What type of coffee?</h3>
        <div class="row row-cols-1 row-cols-md-3 mb-8 gap-4 gap-md-0">
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isSingleOrigin }"
              (click)="selectSingleOrigin()"
            >
              <h6 class="mb-3">Single Origin</h6>
              <p>
                Distinct, high quality coffee from a specific family-owned farm
              </p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isDecaf }"
              (click)="selectDecaf()"
            >
              <h6>Decaf</h6>
              <p>
                Just like regular coffee, except the caffeine has been removed
              </p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isBlended }"
              (click)="selectBlended()"
            >
              <h6>Blended</h6>
              <p>
                Combination of two or three dark roasted beans of organic
                coffees
              </p>
            </div>
          </div>
        </div>

        <h3 class="mb-5">How much would you like?</h3>
        <div class="row row-cols-1 row-cols-md-3 mb-8 gap-4 gap-md-0">
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': is250g }"
              (click)="select250g()"
            >
              <h6 class="mb-3">250g</h6>
              <p>
                Perfect for the solo drinker. Yields about 12 delicious cups
              </p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': is500g }"
              (click)="select500g()"
            >
              <h6>500g</h6>
              <p>
                Perfect option for a couple. Yields about 40 delectable cups
              </p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': is1000g }"
              (click)="select1000g()"
            >
              <h6>1000g</h6>
              <p>
                Perfect for offices and events. Yields about 90 delightful cups
              </p>
            </div>
          </div>
        </div>

        <h3 class="mb-5">Want us to grind them?</h3>
        <div class="row row-cols-1 row-cols-md-3 mb-8 gap-4 gap-md-0">
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isWholeBean }"
              (click)="selectWholeBean()"
            >
              <h6 class="mb-3">Wholebean</h6>
              <p>Best choise if you cherish the full sensory experience</p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isFiltered }"
              (click)="selectFiltered()"
            >
              <h6>Filtered</h6>
              <p>
                For drip or pour-over coffee methods such as V60 or Aerepress
              </p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isCafetiere }"
              (click)="selectCafetiere()"
            >
              <h6>Cafetière</h6>
              <p>
                Course ground beans specially suited for french press coffee
              </p>
            </div>
          </div>
        </div>

        <h3 class="mb-5">How often should we deliver?</h3>
        <div class="row row-cols-1 row-cols-md-3 mb-8 gap-4 gap-md-0">
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isEvery1Week }"
              (click)="select1Week()"
            >
              <h6 class="mb-3">Every week</h6>
              <p>$14.00 per shipment. Includes free first-class shipping.</p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isEvery2Week }"
              (click)="select2Week()"
            >
              <h6>Every 2 weeks</h6>
              <p>$17.25 per shipment. Include free priority shipping.</p>
            </div>
          </div>
          <div class="col">
            <div
              class="card px-3 py-3 pb-5"
              [ngClass]="{ 'selected-card': isEveryMonth }"
              (click)="selectEveryMonth()"
            >
              <h6>Every month</h6>
              <p>$22.50 per shipment. Includes free priority shipping.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" routerLink="/checkout">Create your plan</a>
    </div>
  </div>
</section>
