h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  color: white;
}
p {
  color: white;
}
img {
  overflow: hidden;
  width: 100%;
}
.banner {
  padding-top: 10%;
  padding-left: 3%;
}
.position-relative {
  margin-bottom: 13vh;
  margin-top: 5vh;
}
a {
  color: var(--alternative-white);
}
a:hover {
  color: var(--alternative-white);
}
