<div class="position-relative rounded">
  <img
    src="../../../assets/imgs/image-hero-coffeepress-desktop.jpg"
    alt="hero-image"
    class="d-xxl-block d-none"
  />
  <img
    src="../../../assets/imgs/image-hero-coffeepress-tablet.jpg"
    alt="hero-image"
    class="d-none d-md-block d-xxl-none"
  />
  <img
    src="../../../assets/imgs/image-hero-coffeepress-mobile.jpg"
    alt="hero-image"
    class="d-block d-md-none"
  />
  <div class="position-absolute top-0 row banner">
    <div class="col-12 col-xxl-6">
      <div class="d-flex flex-column align-items-start gap-0 gap-sm-5">
        <h1 class="fs-1 fs-md-6">Great coffee made simple</h1>
        <p>
          Start your mornings with the world’s best coffees. Try our expertly
          curated artisan coffees from our best roasters delivered directly to
          your door, at your schedule.
        </p>
        <a class="btn btn-primary" routerLink="/create-your-plan"
          >Create your plan</a
        >
      </div>
    </div>
  </div>
</div>
