<section class="container">
  <ul class="bar">
    <li class="done">Login</li>
    <li
      [ngClass]="{
        current: currentUrl === '/checkout/address',
        done:
          currentUrl === '/checkout/payment' ||
          currentUrl === '/checkout/confirm'
      }"
    >
      Address
    </li>
    <li
      [ngClass]="{
        current: currentUrl === '/checkout/payment',
        done: currentUrl === '/checkout/confirm'
      }"
    >
      Payment
    </li>
    <li [ngClass]="{ current: currentUrl === '/checkout/confirm' }">Confirm</li>
    <li>Done!</li>
  </ul>
  <router-outlet></router-outlet>
</section>
