<div class="position-relative">
  <h1 class="">our collection</h1>
  <div class="row">
    <div class="col d-flex flex-column align-items-center">
      <img src="../../../assets/imgs/image-gran-espresso.png" alt="" />
      <h6>Gran Espresso</h6>
      <p class="text-center">
        Light and flavorful blend with cocoa and black pepper for an intense
        experience.
      </p>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img src="../../../assets/imgs/image-planalto.png" alt="" />
      <h6>Planalto</h6>
      <p class="text-center">
        Brazilian dark roast with rich and velvety body, and hints of fruits and
        nuts.
      </p>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img src="../../../assets/imgs/image-piccollo.png" alt="" />
      <h6>Piccollo</h6>
      <p class="text-center">
        Mild and smooth blend featuring notes of toasted almond and dried
        cherry.
      </p>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img src="../../../assets/imgs/image-danche.png" alt="" />
      <h6>Danche</h6>
      <p class="text-center">
        Ethiopian hand-harvested blend densely packed with vibrant fruit notes.
      </p>
    </div>
  </div>
</div>
