/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --green: #0e8784;
  --light-green: #66d2cf;
  --alternative-white: #fefcf7;
  --aletrnative-gray: #83868f;
  --navbar-min-height: 63px;
  --footer-min-height: 163px;
}
body {
  background-color: var(--alternative-white);
  font-family: "Roboto", serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: var(--light-green);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}
