nav {
  min-height: var(--navbar-min-height);
}
.active {
  border-bottom: 2px solid var(--light-green);
  a {
    color: var(--light-green);
  }
}
a {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(153, 154, 159);
  text-align: center;
}
a:hover {
  color: var(--light-green);
}
p {
  margin: 0;
}
li {
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .active {
    border-bottom: 2px solid transparent;
    a {
      color: var(--light-green);
    }
  }
}
