<div class="position-relative rounded mt-5">
  <div>
    <img
      src="../../../assets/imgs/image-hero-whitecup-desktop.jpg"
      alt=""
      class="rounded d-xxl-block d-none"
    />
    <img
      src="../../../assets/imgs/image-hero-whitecup-tablet.jpg"
      alt=""
      class="rounded d-none d-md-block d-xxl-none"
    />
    <img
      src="../../../assets/imgs/image-hero-whitecup-mobile.jpg"
      alt="coffee banner"
      class="rounded d-block d-md-none"
    />
  </div>
  <div class="row row-cols-1 row-col-md-2 position-absolute top-0 ms-3 mt-5">
    <div class="col d-flex flex-column gap-5">
      <h1>About us</h1>
      <p>
        Coffeeroasters began its journey of exotic discovery in 1999,
        highlighting stories of coffee from around the world. We have since been
        dedicated to bring the perfect cup - from bean to brew - in every
        shipment.
      </p>
    </div>
  </div>
</div>
