h4 {
  font-weight: bold;
  margin-top: 30vh;
}
h5 {
  color: #fdd6ba;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
h6 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
