ul {
  list-style-type: none;
}
li > span {
  font-family: "Fraunces";
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #323a47;
}
li {
  font-size: 2rem;
}
.card {
  background-color: #f4f1ea;
}
h6 {
  font-size: 1.5rem;
  font-weight: 700;
}
