section {
  margin-top: 20vh;
  overflow: hidden;
}
ul {
  list-style-type: none;
}
li > span {
  font-family: "Fraunces";
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #323a47;
}
li {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Fraunces";
}
h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--aletrnative-gray);
}
h6 {
  font-size: 1.5rem;
  font-weight: 700;
}
.card {
  aspect-ratio: 1 / 1;
  border: none;
  background-color: #f4f1ea;
  cursor: pointer;
}
.selected-card {
  color: var(--alternative-white);
  background-color: var(--green);
}
.sticky-top {
  top: 2rem;
}
a {
  color: var(--alternative-white);
}
@media screen and (max-width: 768px) {
  .card {
    aspect-ratio: 3;
    border: none;
    background-color: #f4f1ea;
    cursor: pointer;
  }
  .selected-card {
    color: var(--alternative-white);
    background-color: var(--green);
  }
}
