<div class="row row-cols-2">
  <!-- Left column: Summary -->
  <div class="col col-3">
    <ul>
      <li>
        <span>01</span>
        Preferences
      </li>
      <hr />
      <li>
        <span>02</span>
        Bean Type
      </li>
      <hr />
      <li>
        <span>03</span>
        Quantity
      </li>
      <hr />
      <li>
        <span>04</span>
        Grind Option
      </li>
      <hr />
      <li>
        <span>05</span>
        Deliveries
      </li>
    </ul>
  </div>
  <!-- Right column -->
  <div class="col col-9">
    <h3>How do you drink your coffee?</h3>
    <div class="row row-cols-3">
      <div class="col">
        <div class="card px-3 py-5">
          <h6>Capsule</h6>
          <p>Compatible with Nespresso systems and similar brewers</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h6>Filter</h6>
          <p>For pour over or drip methods like Aereopress, Chemex and V60</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h6>Espresso</h6>
          <p>
            Dense and finely ground beans for an intense, flavorful experience
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
